APP_PORT=4000
APP_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lab_schedule_ptit_v2

JWT_SECRET=change_me_in_local_env
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:3000
